<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delvinglanguages"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".face.activity.Main"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".face.activity.LanguageActivity" >
        </activity>
        <activity android:name=".face.activity.DictionaryListActivity" >
        </activity>
        <activity
            android:name=".face.activity.AddLanguageActivity"
            android:label="@string/title_add_idiom" >
        </activity>
        <activity
            android:name=".face.settings.LanguageSettingsActivity"
            android:label="@string/title_language_settings" >
        </activity>
        <activity
            android:name=".face.settings.SelectBackground"
            android:label="@string/title_select_background" >
        </activity>
        <activity
            android:name=".face.settings.About"
            android:label="@string/about" >
        </activity>
        <activity
            android:name=".face.activity.add.AddWordActivity"
            android:configChanges="keyboardHidden|keyboard|orientation" >
        </activity>
        <activity
            android:name=".face.settings.MakeColorActivity"
            android:label="Make your color" >
        </activity>

        <!-- practice ACTIVITIES -->
        <activity android:name=".face.activity.practice.PreguntasActivity" >
        </activity>
        <activity android:name=".face.activity.practice.WriteWordsActivity" >
        </activity>
        <activity android:name=".face.activity.practice.CompleteActivity" >
        </activity>
        <activity
            android:name=".face.activity.practice.ListeningActivity"
            android:label="@string/title_listening" >
        </activity>
        <!-- test ACTIVITIES -->
        <activity android:name=".face.activity.test.Test_1_SelectActivity" >
        </activity>
        <activity android:name=".face.activity.test.Test_2_CreateActivity" >
        </activity>
        <activity
            android:name=".face.activity.test.Test_3_DelveActivity"
            android:label="@string/test_title_3" >
        </activity>
        <activity
            android:name=".face.activity.test.Test_4_MatchActivity"
            android:label="@string/test_title_4" >
        </activity>
        <activity
            android:name=".face.activity.test.Test_5_CompleteActivity"
            android:label="@string/test_title_5" >
        </activity>
        <activity
            android:name=".face.activity.test.Test_6_WriteActivity"
            android:label="@string/test_title_6" >
        </activity>
        <activity
            android:name=".face.activity.test.Test_7_ResultActivity"
            android:label="@string/test_title_7" >
        </activity>

        <!-- ************************************************************** -->
        <activity
            android:name=".face.settings.FoneticsActivity"
            android:label="@string/title_fonetics" >
        </activity>
        <activity
            android:name=".face.phrasals.AddPhrasalsActivity"
            android:label="@string/title_add_phrasals" >
        </activity>
        <activity
            android:name=".debug.Debug"
            android:label="Debuging" >
        </activity>
        <activity
            android:name=".face.phrasals.ListPhrasalActivity"
            android:label="@string/title_list_phrasal" >
        </activity>
        <activity
            android:name=".face.activity.IntegrateRepeatedActivity"
            android:label="@string/title_activity_integrate_repeated" >
        </activity>
        <activity android:name=".face.activity.ReferenceActivity" >
        </activity>
        <activity
            android:name=".face.settings.SettingsActivity"
            android:label="@string/settings" >
        </activity>
        <activity android:name=".face.activity.NewTenseActivity" >
        </activity>
        <activity
            android:name=".face.settings.HistorialActivity"
            android:label="@string/historial" >
        </activity>
        <activity
            android:name=".debug.Inserter"
            android:label="Inserter" >
        </activity>
        <activity
            android:name=".face.activity.add.AddWordFromSearchActivity"
            android:configChanges="keyboardHidden|keyboard|orientation" >
        </activity>
        <activity
            android:name=".face.activity.add.AddWordFromWarehouseActivity"
            android:configChanges="keyboardHidden|keyboard|orientation" >
        </activity>
        <activity
            android:name=".face.activity.add.AddWordFromVerbActivity"
            android:configChanges="keyboardHidden|keyboard|orientation" >
        </activity>
        <activity
            android:name=".face.activity.add.AddWordFromModifyActivity"
            android:configChanges="keyboardHidden|keyboard|orientation" >
        </activity>
        <activity
            android:name=".face.activity.add.AddWordFromPhrasalActivity"
            android:configChanges="keyboardHidden|keyboard|orientation" >
        </activity>
        <activity android:name=".face.activity.theme.ThemeActivity" >
        </activity>
        <activity
            android:name=".face.activity.theme.CreateThemeActivity"
            android:label="@string/title_activity_create_theme" >
        </activity>
        <activity
            android:name=".face.activity.theme.ModifyThemeActivity"
            android:label="@string/title_activity_modify_theme" >
        </activity>
    </application>

</manifest>